swagger: '2.0'
info:
    title: Go Backends
    description: Sample API on Cloud Endpoints with a Cloud Run backend
    version: 1.0.0
host: too.fb.weja.us
schemes:
    - https
produces:
    - application/html
# The cloud run service url, this could also be defined per path as well in case you have multiple cloud run services that make up a single gateway
# x-google-backend:
#     address: "YOUR-CLOUD_RUN-URL"
securityDefinitions:
    firebase:
        authorizationUrl: ""
        flow: "implicit"
        type: "oauth2"
        # Replace YOUR-PROJECT-ID with your project ID
        x-google-issuer: "https://securetoken.google.com/weja-us"
        x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
        x-google-audiences: "weja-us"
paths:
    /greet:
        x-google-backend:
            address: "YOUR-CLOUD_RUN-URL"
        get:
            summary: Greets the user
            operationId: greet
            # define that our service uses the firebase security definition
            security:
                - firebase: [ ]
            responses:
                '200':
                    description: A successful response
                    schema:
                        type: object
                        # our object look like `{name: ""}`
                        properties:
                            name:
                                type: string
                                description: The users name
    /go-auth:
        x-google-backend:
            address: "YOUR-CLOUD_RUN-URL"
        get:
            summary: Greet a user
            operationId: hello
            responses:
                '200':
                    description: A successful response
                    schema:
                        type: string
    /hello:
        x-google-backend:
            address: "YOUR-CLOUD_RUN-URL"
        get:
            summary: Greet a user
            operationId: helloworld
            responses:
                '200':
                    description: A successful response
                    schema:
                        type: string
    /assets/{asset}:
        x-google-backend:
            address: "YOUR-CLOUD_RUN-URL"
        get:
            parameters:
                - in: path
                  name: asset
                  type: string
                  required: true
                  description: Name of the asset.
            summary: Assets
            operationId: getAsset
            responses:
                '200':
                    description: A successful response
                    schema:
                        type: string
